body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
  }
  .header__title {
    font-weight: bold;
    font-size: 80px;
    line-height: 82px;
  }
  .header__nav, .add {
    font-weight: 500;
    font-size: 13px;
    line-height: 0px;
  }
  .section__logo {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.07em;
  }
  .section__lang {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .main__subt {
    font-weight: bold;
    font-size: 40px;
    line-height: 41px;
  }
  .main__subt_add, .page3__subt_add {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
  }
  .main__price {
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
  }
  .quant {
    font-weight: 500;
    font-size: 15px;
    line-height: 0px;
  }
  .other_goods {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
  }