@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Light.eot');
  src: url('fonts/Montserrat-Light.eot') format('embedded-opentype'),
  url('fonts/Montserrat-Bold.ttf') format('truetype'),
  url('fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  }
 @font-face {
   font-family: 'Montserrat';
   src: url('fonts/Montserrat-Medium.eot');
   src: url('fonts/Montserrat-Medium.eot') format('embedded-opentype'),
   url('fonts/Montserrat-Medium.ttf') format('truetype'),
   url('fonts/Montserrat-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
 }
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Bold.eot');
  src: url('fonts/Montserrat-Bold.eot') format('embedded-opentype'),
  url('fonts/Montserrat-Bold.ttf') format('truetype'),
  url('fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}